.specialty-restaurants {
    display: flex;
    
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: start;
    max-height: 800px;
    
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll;
  transition: transform 450ms;
  
  }

  .specialty-restaurant-card {
    text-align: center;
    cursor: pointer;
    transition: transform 450ms;
    
  }
  .specialty-restaurant-card:hover {
    transform: scale(1.08);
  }
  
  .specialty-restaurant-card {
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .specialty-restaurant-card {
    
    width: 348px;
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }